/* Header */
div#header {
  background: transparent url(../images/bg/page-header-bg.jpg) no-repeat center top;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 0;
  border-bottom: 1px dotted #fff;
  border-color: rgba(255,255,255,.15);
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 8px 0;
}

div#header div.content { 
  background: transparent url(../images/black-fill-25.png);
  background: transparent -webkit-gradient(linear, 0 0, 0 100%, from(rgba(60,33,20,.1)), to(rgba(60,33,20,.25)));
  background: transparent -moz-linear-gradient(top, rgba(60,33,20,.1), rgba(60,33,20,.25)); 
}

/* Categories */

ul.categories li.sub { padding-left: 20px; }
ul.categories li.subsub { padding-left: 40px; }

/* Blog */

div.post { padding-bottom: 10px; margin-bottom: 20px; border-bottom: 1px dotted #bbb; }

body.blog div.entry img { float: right; margin: 5px 0 10px 10px; }

div.wp-caption.alignleft { float: left; margin: 5px 10px 10px 5px; }
div.wp-caption.alignright { float: right; margin: 5px 0 10px 10px; }

p.postmetadata { font-size: 11px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #777; clear: both; }
p.postmetadata a { color: inherit; }
p.postmetadata a:hover { color: inherit; }

p.wp-caption-text { text-align: center; font-size: 12px; color: #777; }

blockquote { background-color: #efefef; margin-left: 20px; }

div.narrowcolumn { width: 600px; float: left; }
body.blog div#sidebar, body.archive div#sidebar { width: 250px; float: right; }

div#footer { clear: both; }

div#sidebar li { margin: 5px 0; }

ul.sub-nav li.current_page_item a { color: #333; font-weight: bold; }

div.main ul { list-style-type: circle; padding: 5px 0 5px 15px; }
div.main ul li { padding: 10px 0;}


/* About Sections */


div.main ul.people { list-style-type: none; padding: 0; margin: 0; }
div.main ul li { overflow: hidden; }
div.main ul li, div.section-about h2 { clear: both; }
div.main h2 { margin: 15px 0; }
div.main ul.people li img { float: left; margin: 0; padding: 0; }
div.main ul.people li p, div.main ul.people li h4 { margin-left: 150px; }



/* Reset Some Global Settings */
body {
  background: #efeae4 url(../images/dirty.png);
  font-family: "Georgia", Cambria, Times New Roman, Times, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

/* Headings and Type */
h1, h2, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #cc5229;
}
p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

div#content p { margin-bottom: 18px; }

ul.categories li { border-bottom: 1px dashed #ccc; }
ul.categories li:last-child { border: none; }

/* Image Styles */
img.thick-border, body.blog div.entry img {
  border: 10px solid #fff;
  box-shadow: 0 1px 3px rgba(87,47,28,.5);
  -moz-box-shadow: 0 1px 3px rgba(87,47,28,.5);
  -webkit-box-shadow: 0 1px 3px rgba(87,47,28,.5);
}

img.thin-border {
  border: none;
  box-shadow: 0 1px 2px rgba(87,47,28,.5);
  -moz-box-shadow: 0 1px 2px rgba(87,47,28,.5);
  -webkit-box-shadow: 0 1px 2px rgba(87,47,28,.5);
}

/* Wells */
div.well {
  background: #e0dad2;
  margin: 0 0 20px;
  padding: 14px 14px 15px;
  border: 1px solid #dbd2c7;
  border-top-color: #c9c3bc;
  border-bottom: 0;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255,255,255,.5);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5);
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5);
}


/* New Buttons */
a.button {
  display: inline-block;
  background-color: #8baf2e;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(rgba(0,0,0,.25)));
  background-image: -moz-linear-gradient(top, transparent, rgba(0,0,0,.25));
  padding: 6px 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1;
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,.25);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
  text-transform: capitalize;
}
a.button.large {
  font-size: 15px;
  padding: 6px 15px;
}
a.button.orange {
  background-color: #cc5229;
}



/* Give our key elements some alignment and base styles */
div.content {
  width: 940px;
  margin: 0 auto;
}

div.content {
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
}


/* IE6 Fixes */
*html div#header { background: none; }
*html body.home div#header { background-color: #4c2717; }

div#header h3 {
  float: left;
  margin: 0;
}
div#header img {
  float: left;
  margin-right: 10px;
}
div#header h3.logo a,
div#header ul a {
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  -webkit-transition: .2s linear all;
}
div#header h3.logo a {
  float: left;
  display: block;
  font-weight: normal;
}
div#header ul {
  float: left;
  margin-left: 30px;
}
div#header li {
  display: inline;
}
div#header li a {
  font: normal 14px/40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 10px;
}
div#header a:hover,
div#header h3.logo a:hover {
  text-decoration: none; text-shadow: 0 0 15px rgba(255,255,255,.85);
}


/* Footer */
div#footer { margin-top: 20px; padding: 19px 0 30px; border-top: 1px dotted #c9c3bc; }
div#footer p { color: #94857e; }
div#footer li { display: inline; padding-right: 15px; }

/* Homepage */

div.page-header { margin-bottom: 10px; }
div.page-header .large.button { float: right; }